/* Content Divs are different screens
   #splash: the splash screen, shows and then goes away when loading is finished (or after x seconds)
   #content1: The main samples browsing and organization screen
   #content2: Sample searching screen
   #content3: Settings (tags, defaults, behaviors)
*/

#splash {
  width:100%;
}

#splash {
  width:100%;
}

#splash {
  width:100%;
}

#splash {
  width:100%;
}

.br {
  /* uncomment the line below to outline every item with a "br" class assignment with a blue border */
  /* border: 2px solid blue; */  
}


/* Ferda buttons */
.nav-link.active {
  background-color: #383;
  /* border-radius: 12%; */
  color: #FFF !important;
  font-weight:700;
}
.nav-item{
  text-align:center;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  min-height: 32px;
  max-height: 32px;
  height: 32px;
}

.navbar-brand {
  text-align:center;
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  height: 32px;
  margin-bottom: 19px;
}

/* Screens */
html, body, .container, .container-fluid {
  height:100%;
  margin: 0;
}

.main-app {
  width: 100%;
  height: 90%;
}

.browse-col2 {
  height: 100%;
  min-height: 100%;
  margin: 0px;
}

.browse-inner {
  height: 90%;
  padding: 0px;
}

.maxit {
  height: 100%;
}

.filepicker {
  font-size: 12px;
  width: 400px;
  min-width: 250px;
  height: 600px;
  background-color: #CCD;
  border: 1px solid #000;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
}

.fptop {
  padding:5px;
  min-width:240px;
}

.fp-wrapper {
  flex-grow: 1;
  max-width: 1300px;
  min-width: 260px;
}

.player {
  min-height: 70px;
  max-height: 100px;
}

.mtExtra {
  background-color: #383;
  color:aliceblue;
}
.mtExtra-red {
  background-color: #DC143C;
  color:white;
}
.center-title {
  font-weight: 900;
  font-size: 28px !IMPORTANT;
  text-align:center !IMPORTANT;
}

.playerbutton {
  margin: 5px;
  height: 30px;
  width: 30px;  
}

.midiplayer {
  visibility: hidden;
}

.clip_file {
  font-size: 11px;
  font-style: italic;
  max-width:300px;
  min-width:150px;
  display:block;
  margin-left: 20px;
  margin-right: 20px;
  white-space: nowrap;
}

.tnc {
  background-color: blue;
  color: white;
}

.buttonlist {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
 }

.fpbutton {
  background-color: royalblue !important;
  padding: 2px !important;
  color: whitesmoke' 
}

.filename {
  background-color: none !important;
  
}

#termsandconditions {
  visibility:none;
  z-index: 1500; /* make sure it's above everything */
}

#tandc {
  width: 80%;
  height: 70%;
  max-height: 600px;
  margin: auto;
  overflow-wrap: normal;
  overflow-x: none;
  overflow-y: scroll;
}